{% extends "base.html.twig" %}

{% block title %}UE07 Product Listing: Export{% endblock title %}
{% block main %}
    <h2>{{ type }} Export Finished</h2>
    <p>View your created file here: <a href="{{ filename }}">{{ filename }}</a></p>
{% endblock main %}